
ion-textarea.custom-textarea {

  font-family: "Orator";
  font-size: 2vh;
  line-height: 2vh;
  --background: #ffffff;
  --color: rgb(0, 0, 0);
  --padding-end: 1vh;
  --padding-start: 1vh;
  --placeholder-color: rgb(137, 137, 137);
  --placeholder-opacity: 0.8;
  height: 100%;
}

ion-input {
  font-family: "Pixels";
  color: black;
  margin-top: 2vh;
  margin-left: 2vw;
  font-size: 6vh;
  font-weight: 500;


}





