<ion-content>
  <div [ngSwitch]="osua">
    <div *ngSwitchCase="'andxxx'">
      <ion-label>USE CHROME BROWSER</ion-label>
      <ion-label>/</ion-label><br />
    </div>
    <div *ngSwitchCase="'andchr'">
      <ion-button slot="end" fill="clear" id="dots" style="background-size:cover"></ion-button><br>
      <ion-label>IN TOP NAVIGATION BAR</ion-label><br />
      <ion-label>/</ion-label><br />
      <ion-button slot="end" fill="clear" id="add" style="background-size:cover"></ion-button><br>
      <ion-label>TAP ADD TO HOME SCREEN IN SCROLL DOWN MENU</ion-label><br />
      <ion-label>/</ion-label><br />
      <ion-label>ADD</ion-label><br />
    </div>
    <div *ngSwitchCase="'iosxxx'">
      <ion-label>USE SAFARI BROWSER</ion-label>
      <ion-label>/</ion-label><br />
    </div>
    <div *ngSwitchCase="'iossafa'">
      <ion-button slot="end" fill="clear" id="install" style="background-size:cover"></ion-button><br>
      <ion-label>IN BOTTOM NAVIGATION BAR</ion-label><br />
      <ion-label>/</ion-label><br />
      <ion-button slot="end" fill="clear" id="add" style="background-size:cover"></ion-button><br>
      <ion-label>TAP ADD TO HOME SCREEN IN SCROLL DOWN MENU</ion-label><br />
      <ion-label>/</ion-label><br />
      <ion-label>ADD</ion-label><br />
    </div>
  </div>
</ion-content>
