<ion-content>

  <ion-label routerLink="/pages/settings">SETTINGS</ion-label><br>
  <ion-label routerLink="/pages/about">ABOUT</ion-label><br>
  <ion-label routerLink="/pages/invite">INVITE</ion-label><br>
  <ion-label routerLink="/pages/mystuff">MYSTUFF</ion-label><br>
  <ion-label [routerLink]="['/pages/ongoing/', 'next']">ONGOING</ion-label><br>
  <ion-label><a target="_blank" [href]="['http://sofiadurrieu.com/']">GOTOWEB</a></ion-label><br>
  <!-- <ion-list>
    <ion-item lines="none">
      
    </ion-item>
    <ion-item lines="none">
    
    </ion-item>
    <ion-item lines="none">
      
    </ion-item>
    <ion-item lines="none">
      
    </ion-item>
    <ion-item lines="none">
      
    </ion-item>
    <ion-item lines="none">
      
    </ion-item>
    
  </ion-list> -->
</ion-content>