<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-label class="label" position="stacked" routerLink="/pages/settings">SETTINGS</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="label" position="stacked" routerLink="/pages/about">ABOUT</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="label" position="stacked" routerLink="/pages/invite">INVITE</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="label" position="stacked" routerLink="/pages/mystuff">MY STUFF</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="label" position="stacked" routerLink="/pages/ongoing">ONGOING</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="label" position="stacked"><a target="_blank" [href]="['http://sofiadurrieu.com/']" >GOTO WEB</a></ion-label>
    </ion-item>
    <ion-item lines="none" >
      <ion-label slot="end" class="label" position="stacked" routerLink="/pages/home">X</ion-label>
    </ion-item>
  </ion-list>
</ion-content>