ion-radio{
    --color:transparent;
    --color-checked: transparent;
    width: 0;
    height: 0;
    margin: 0;
}

.item-radio-checked {
    color: rgb(105, 105, 105);
  }

ion-item{
    --padding-left: 0;
}


.label {
    font-size: 11vh;
    font-family: "Pixels";
    margin-bottom: 0vh;
    line-height: 10vh;
    letter-spacing: 1vw;
    --padding-start: 1vw;
    font-weight: 500;
}

.checkbox {
    margin-right: 4vw;
}

h1 {
    font-size: 10vh;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 10vh;
    padding-left: 7px;
    padding-right: 7px;
}

a {
    text-decoration: underline;
    color: var(--ion-color-primary);
}

a:visited {
    color: var(--ion-color-primary);
}

.menu {
    text-align: end;
    margin-top:auto;
}