<ion-content>
    <!-- <ion-list> -->
        <ion-radio-group [value]="settings" (ionChange)="updateNotifications($event)">
              <ion-item lines="none">
                <ion-radio slot="start" value="0"></ion-radio>
                <ion-label>1XWEEK</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-radio slot="start" value="1"></ion-radio>
                <ion-label>2XWEEK</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-radio slot="start" value="2"></ion-radio>
                <ion-label>3XWEEK</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-radio slot="start" value="null"></ion-radio>
                <ion-label>NONE</ion-label>
              </ion-item>
        </ion-radio-group>
        <!-- <ion-item lines="none" >
            <ion-label slot="end" class="label" position="stacked" routerLink="/pages/home">OK</ion-label>
          </ion-item> -->
    <!-- </ion-list> -->
  </ion-content>