ion-header {
    font-family: "Pixels";
    font-size: 10vh;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}
.header-md::after {
    height: 0;
}
ion-label{
    padding-left: 1vh;

}

.default {
    font-family: "Pixels";
    margin-top: 2vh;
    margin-left: 2vw;
}

p {
    font-size: 2vh;
    padding-left: 2vh;
}

h1 {
    font-size: 10vh;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    // line-height: 13vh;
    // padding-left: 7px;
    // color: var(--ion-color-primary);
}

ion-text {
    font-family: "Pixels";
    font-size: 2vh;
    margin-top: 2vh;
    margin-left: 2vw;
}

a {
    text-decoration: underline;
}

a:visited {
    color: var(--ion-color-primary);
}
