<ion-content>
  <ion-label>ABOUT</ion-label><br />
  <ion-label>CONTEXT</ion-label>
  <br />
  <ion-label>:</ion-label>
  <p>
    THIS APP WAS CONCEIVED AS A SOFT, DIFFUSE AND DEPENDENT PERFORMING HACKING
    DEVICE. IT IS A PART OF A WIDER ART PROJECT BY SOFIA DURRIEU WE UNDERSTAND
    SYSTEMS TO BE UNAVOIDABLE, ESSENTIAL TOOLS. THEY ARE THE GUARANTORS OF THE
    WAY WE HAVE INVENTED, IN ORDER TO EXIST IN A COMPLEX <br>–<br>AND SO
    FREQUENTLY OVERWHELMING- WORLD. IN TIME, WE HAVE MADE OF RULES AND
    FUNCTIONALITY OUR NATURAL HABITAT, EVENTUALLY CONSTRAINING OURSELVES TO THE
    STATUS OF INSTRUMENTS. A DEFINED, PREDETERMINED LOGIC IS NECESSARY,
    “ORGANISING” OUR PERCEPTION <br>–<br>AND THEREFORE OUR CONNECTIONS- INTO
    KNOWN, OUT OF ORDER IS AN ATTEMPT TO DISTURB THE AUTOMATIC OBEDIENCE TO THE
    TACIT RULES THAT CONSTANTLY REGULATE OUR PERCEPTION, BODY AND BEHAVIOUR ON
    DAILY BASES. THROUGH A SYSTEM OF INSTRUCTIONS, IT AIMS TO “TURN THE TOOL
    AGAINST ITSELF”. OR AT LEAST, TO BEND IT A BIT. IT IS SHAMELESSLY DEPENDENT:
    TO FULLY APPEAR, THE ENGAGEMENT OF THE VISITOR IS ESSENTIAL, THUS REVEALING
    CONNECTION AND PARTICIPATION AS A CONDITION FOR (ITS) EXISTENCE. IN THE APP,
    THAT SAME INTENTION IS MAINTAINED. FOR SYNTHESIS/MENU PURPOSES, WE HAVE
    CALLED THE SMALL ACTIONS THAT IT PROPOSES, “MISSIONS”. BUT THEY ARE REALLY
    NOT. THEY ARE JUST REMINDERS, A MINI-GATEWAY, A SYMBOLIC CRACK TO TINGLE A
    BIT THE GRID OF THE STANDARD. <br>–<br> OUTOFORDER TOOK THE FORM OF AN
    EXHIBITION DURING THE MONTH OF AUGUST 2020, SIMULTANEOUSLY IN KUNSTHAUS
    BASELLAND, ON THE FHNW HG CAMPUS AND IN THE STREETS OF THE CITY OF BASEL,
    SWITZERLAND. A FEW MONTHS LATER, IT CONTINUED IN THE CONTEXT OF “MI VEREDA”,
    IN BUENOS AIRES, ARGENTINA. TO SEE MORE: HTTPS://VIMEO.COM/456092433 THE APP
    WAS PROGRAMMED BY TOMAS CICCOLA THE OUTOFORDER PROJECT AND APP WERE
    CONCEIVED AND DEVELOPED BY YOURS TRULY, SOFIA DURRIEU. WWW.SOFIADURRIEU.COM
  </p>
  <ion-label>USE IT</ion-label>
  <br />
  <ion-label>:</ion-label>
  <p>
    1. GO TO SETTINGS <br>–<br>SELECT HOW MANY TIMES A WEEK YOU WOULD LIKE TO RECEIVE A
    NOTIFICATION WITH A “MISSION” HIT THE “OK” ONCE YOU’VE CHOSEN YOUR SETTING
    ADVENTURE <br>–<br> 2. FOR EACH “MISSION”, YOU CAN: SAVE MAKE NOTES SHARE/SEND TO A
    FRIEND <br>–<br> YOU CAN ACCESS THE SAVED ONES AND THE THINGS YOU’VE WRITTEN IN MY
    STUFF <br>–<br> 3. WHEN RECEIVING A NOTIFICATION: SHOULD YOU EVER FIND YOURSELF
    BUSY, UNDECIDED, SHY, OR JUST NOT FEELIN’ IT, THE MISSION WOULD BE
    ACCESSIBLE UNDER ONGOING, UNTIL THE NEXT ONE COMES. THEN THE GATEWAY TO
    ANOTHER DIMENSION, WHERE EVERLASTING PERFECTION IS IMMUTABLE, WILL BE
    FOREVER CLOSED. GONE, CHAU, BYE-BYE, ADIEU, THE END, IRREMEDIABLY LOST IN
    THE TOTAL ABYSS,☺
  </p>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" fill="clear" id="close" style="background-size:cover" [routerLink]="['/pages/home']">
    </ion-button>
  </ion-toolbar>
</ion-footer>
