<ion-content>
  <ion-item-divider>
  <ion-label>ABOUT</ion-label>
</ion-item-divider>
  <ion-label>USE IT</ion-label>
  <h1>-</h1>
  <ion-text>
    1. GO TO SETTINGS <br>– SELECT HOW MANY TIMES A WEEK YOU WOULD LIKE TO RECEIVE A
    NOTIFICATION WITH A “MISSION” <br>– YOU CAN SET THE TIMES AND DAYS OR LEAVE IT
    TO BE RANDOM <br>– YOU CAN ALSO CHOOSE A COMPLETE RANDOMNESS, AND REMINDERS WILL
    APPEAR IN A VIRTUAL-NINJA WAY <br>– REMEMBER TO HIT THE “OK” ONCE YOU’VE CHOSEN
    YOUR SETTING ADVENTURE
  </ion-text>
  <ion-label routerLink="/pages/menu">X</ion-label>
</ion-content>
