<ion-content>
  <ion-label>ABOUT</ion-label><br />
  <ion-label>CONTEXT</ion-label>
  <br />
  <ion-label>:</ion-label>
  <p>
    THIS APP WAS CONCEIVED AS A SOFT, DIFFUSE AND DEPENDENT PERFORMING HACKING
    DEVICE. IT IS A PART OF A WIDER ART PROJECT BY SOFIA DURRIEU<br />–<br />

    WE UNDERSTAND SYSTEMS TO BE UNAVOIDABLE, ESSENTIAL TOOLS. THEY ARE THE
    GUARANTORS OF THE WAY WE HAVE INVENTED TO SURVIVE IN A COMPLEX –AND SO
    FREQUENTLY OVERWHELMING- WORLD. IN TIME, WE HAVE MADE OF RULES,
    CLASSIFICATIONS AND FUNCTIONALITY OUR NATURAL HABITAT, EVENTUALLY
    CONSTRAINING OURSELVES TO THE STATUS OF INSTRUMENTS. A DEFINED,
    PREDETERMINED LOGIC IS NECESSARY, “ORGANISING” OUR PERCEPTION -AND THEREFORE
    OUR EXPERIENCES- INTO KNOWN, CODIFIABLE PATHS. YET, ONCE AND OVER AGAIN,
    “OUR CONCEPTS DON’T FIT THE DATA”. OUR EFFECTIVE, WELL-ADAPTED LIVES
    REPEATEDLY SEEM TO LEAD TO UNFULFILLMENT AND CANNOT DISPLACE THE INSISTING
    -SOMETIMES PRESSING- FEELING THAT “THERE MUST BE SOMETHING ELSE”. IS THERE,
    IN WHAT WE HAVE CREATED, A POSSIBILITY TO CONNECT WITH THE WORLD BEYOND THE
    INSTRUMENTAL? <br />–<br />

    OUT OF ORDER IS AN ATTEMPT TO DISTURB THE AUTOMATIC OBEDIENCE TO THE TACIT
    RULES THAT CONSTANTLY REGULATE OUR PERCEPTION, BODY AND BEHAVIOUR ON DAILY
    BASES. THROUGH A SYSTEM OF INSTRUCTIONS, IT AIMS TO “TURN THE TOOL AGAINST
    ITSELF”. OR AT LEAST, TO BEND IT A BIT. <br />–<br />

    OUTOFORDER TOOK THE FORM OF AN EXHIBITION DURING THE MONTH OF AUGUST 2020,
    SIMULTANEOUSLY IN KUNSTHAUS BASELLAND, ON THE FHNW HG CAMPUS AND IN THE
    STREETS OF THE CITY OF BASEL, SWITZERLAND. A FEW MONTHS LATER, IT CONTINUED
    IN THE CONTEXT OF “MI VEREDA”, IN BUENOS AIRES, ARGENTINA EXISTED IN A
    MUSEUM, IN THE STREETS OF SWITZERLAND IN THE POCKETS OF PEOPLE IN BUENOS
    AIRES IN A WALLET IN JAPAN WALKS BY YOUR SIDE IN KOREA, FLOATS IN AMSTERDAM,
    WILL REACH DEEP AMAZONIA IN A HANDWRITTEN LETTER, IS BEING PLAYED BY A KID
    IN PERU.<br />–<br />

    IT’S A WORK OF MANY PARTS, WITH NO CLEAR LIMITS IN TIME OR SPACE. ITS SHAPES
    ARE DESIGN-BASED, CAMOUFLAGED AMONGST THE CODES THAT WE HAVE ALREADY
    ASSIMILATED, THUS SOMEWHAT INVISIBLE. WHILE INSISTING ON THE USE OF A
    FAMILIAR FRIENDLY-IMPERATIVE FORM, IT INVITES YOU TO FIND NEW SPACES OF
    RE&DECONFIGURATION WITHIN/IN SPITE/BEYOND/THROUGH IT. AND, MUCH LIKE FOR THE
    SYSTEMS IT TRIES TO BEND, ESTRANGEMENT, AWARENESS, AND YOUR ENGAGEMENT ARE
    BASIC CONDITIONS FOR (ITS) EXISTENCE.<br />–<br />

    IN THE APP, THE SAME INTENTIONS ARE PRESENT. FOR MENU PURPOSES, WE HAVE
    CALLED THE SMALL ACTIONS THAT IT PROPOSES, “MISSIONS”. BUT THEY ARE REALLY
    NOT. THEY ARE JUST REMINDERS, A MINI-GATEWAY, A SYMBOLIC CRACK TO TINGLE A
    BIT THE GRID OF THE STANDARD.<br />–<br />

    TO SEE MORE: HTTPS://VIMEO.COM/456092433 WWW.SOFIADURRIEU.COM

    <br />–<br />

    CODE FOR APP: DIEGO ALBERTI - DIEGOALBERTI.NET - @UNTIGREHERVIDO -
  </p>
  <ion-label>USE IT</ion-label>
  <br />
  <ion-label>:</ion-label>
  <p>
    1. GO TO SETTINGS <br />–<br />SELECT HOW MANY TIMES A WEEK YOU WOULD LIKE
    TO RECEIVE A NOTIFICATION WITH A “MISSION” HIT THE “OK” ONCE YOU’VE CHOSEN
    YOUR SETTING ADVENTURE <br />–<br />
    2. FOR EACH “MISSION”, YOU CAN: SAVE MAKE NOTES SHARE/SEND TO A FRIEND
    <br />–<br />
    YOU CAN ACCESS THE SAVED ONES AND THE THINGS YOU’VE WRITTEN IN MY STUFF
    <br />–<br />
    3. WHEN RECEIVING A NOTIFICATION: SHOULD YOU EVER FIND YOURSELF BUSY,
    UNDECIDED, SHY, OR JUST NOT FEELIN’ IT, THE MISSION WOULD BE ACCESSIBLE
    UNDER ONGOING, UNTIL THE NEXT ONE COMES. THEN THE GATEWAY TO ANOTHER
    DIMENSION, WHERE EVERLASTING PERFECTION IS IMMUTABLE, WILL BE FOREVER
    CLOSED. GONE, CHAU, BYE-BYE, ADIEU, THE END, IRREMEDIABLY LOST IN THE TOTAL
    ABYSS,☺
  </p>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button
      slot="end"
      fill="clear"
      id="close"
      style="background-size: cover"
      [routerLink]="['/pages/home']"
    >
    </ion-button>
  </ion-toolbar>
</ion-footer>
